{% extends 'base.html' %} {% block content %}

<h1 class="mb-4">Dashboard Financeiro</h1>

<a href="/nova-movimentacao/" class="btn btn-success mb-4">
  Nova Movimentação
</a>

<div class="row">
  <div class="col-md-4">
    <div class="card bg-success text-white p-3 shadow">
      <h4>Receitas</h4>

      <h2>R$ {{ total_receitas }}</h2>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card bg-danger text-white p-3 shadow">
      <h4>Despesas</h4>

      <h2>R$ {{ total_despesas }}</h2>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card bg-primary text-white p-3 shadow">
      <h4>Saldo</h4>

      <h2>R$ {{ saldo }}</h2>
    </div>
  </div>
</div>

<!-- GRÁFICO -->

<div class="row mt-5">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="mb-4">Receitas x Despesas</h4>

        <canvas
    id="graficoFinanceiro"

    data-receitas="{{ total_receitas }}"
    data-despesas="{{ total_despesas }}"
></canvas>
      </div>
    </div>
  </div>
</div>

<!-- TABELA -->

<div class="card mt-5 shadow">
  <div class="card-body">
    <h3 class="mb-4">Últimas Movimentações</h3>

    <div class="movimentacoes-lista">

    {% for mov in movimentacoes %}

    <div class="mov-card">

        <div class="mov-info">

            <div class="mov-icon">

                {% if mov.tipo == 'RECEITA' %}
                    💰
                {% else %}
                    💸
                {% endif %}

            </div>

            <div>

                <h5>
                    {{ mov.titulo }}
                </h5>

                <p>
                    {{ mov.tipo }} • {{ mov.data }}
                </p>

            </div>

        </div>

        <div class="mov-actions">

            <h4
                class="
                {% if mov.tipo == 'RECEITA' %}
                    receita
                {% else %}
                    despesa
                {% endif %}
                "
            >

                {% if mov.tipo == 'RECEITA' %}
                    +
                {% else %}
                    -
                {% endif %}

                R$ {{ mov.valor }}

            </h4>

            <div class="buttons">

                <a
                    href="/editar-movimentacao/{{ mov.id }}/"
                    class="btn btn-primary btn-sm"
                >
                    Editar
                </a>

                <a
                    href="/excluir-movimentacao/{{ mov.id }}/"
                    class="btn btn-danger btn-sm"
                >
                    Excluir
                </a>

            </div>

        </div>

    </div>

    {% endfor %}

</div>
  </div>
</div>



{% endblock %}
