{% extends 'base.html' %}

{% block content %}

<div class="text-center mt-5">

    <h1 class="display-4">
        Sistema de Controle Financeiro
    </h1>

    <p class="lead mt-3">
        Gerencie suas receitas e despesas de forma simples e segura.
    </p>

    <div class="mt-4">

        <a href="/login/" class="btn btn-success btn-lg me-2">
            Entrar
        </a>

        <a href="#" class="btn btn-outline-primary btn-lg">
            Criar Conta
        </a>

    </div>

</div>

{% endblock %}